body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(161, 0, 220);
  font-family: monospace;
}

h1 {
  padding: 1em;
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.infoWrapper {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  bottom: 20px;
  left: 20px;
  transition: 300ms ease-in;
}

.infoWrapper:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 1.0);
}

#githubicon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
